@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(209, 209, 209);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  min-height: 300px;
  margin: 50px auto;
  background: #fff;
  padding: 2rem 3.5rem;
  border-radius: 10px;
}

.container .title {
  margin-bottom: 2.5rem;
}

.container input {
  font-size: 1.3rem;
  padding: 0.7rem;
  margin-right: 2rem;
  border: 1px solid rgba(184, 184, 184, 0.692);
  border-radius: 5px;
}

.container input[type="submit"] {
  transition: transform 0.2s ease;
}

.container input[type="text"]:focus {
  background-color: rgb(241, 250, 243);
  border: 1px solid rgba(117, 117, 117, 0.692);
}

.container input[type="submit"]:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.container input[type="submit"]:active {
  transform: translateY(3px);
}
